<nav class="navbar navbar-expand-lg navbar-dark home_navbar">
    <div class = "container overflow">
        <a class="navbar-brand" href="/index.html">
            <img src = "https://i.ibb.co/z5cP0Jq/books-256.png" width = "25" height = "25" class = "d-inline mr-1 mb-1">
            The Enchiridion
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mathematics</a>
                    <div class = "dropdown-menu bg-light" aria-labelledby = "navbarDropdown">
                        <a class = "dropdown-item" href = "/Articles/Mathematics/Calculus/calculus.html">Calculus</a>
                        <a class = "dropdown-item" href = "#">Discrete mathematics</a>
                        <a class = "dropdown-item" href = "#">Statistics</a>
                        <a class = "dropdown-item" href = "#">Chaos theory</a>
                        
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Physics</a>
                    <div class = "dropdown-menu bg-light" aria-labelledby = "navbarDropdown">
                        <a class = "dropdown-item" href = "#">Mechanics</a>
                        <a class = "dropdown-item" href = "#">Electronics</a>
                        <a class = "dropdown-item" href = "#">Thermodynamics</a>
                        <a class = "dropdown-item" href = "#">Fluid dynamics</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Computer Science</a>
                    <div class = "dropdown-menu bg-light" aria-labelledby = "navbarDropdown">
                        <a class = "dropdown-item" href = "#">Digital electronics</a>
                        <a class = "dropdown-item" href = "#">Algorithms and data structures</a>
                        <a class = "dropdown-item" href = "#">Computer graphics</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AI & ML</a>
                    <div class = "dropdown-menu bg-light" aria-labelledby = "navbarDropdown">
                        <a class = "dropdown-item" href = "#">Neural networks</a>
                        <a class = "dropdown-item" href = "#">Natural language processing</a>
                        <a class = "dropdown-item" href = "#">Reinforcement learning</a>
                        <a class = "dropdown-item" href = "#">AI alignment</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>