<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://i.ibb.co/z5cP0Jq/books-256.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel ="stylesheet" href ="styles.css">
    <title>Page title</title>
</head>

<body>
    <div class = "navigation"></div>
    
    <!--CONTENT STARTS HERE-->

    <!--CONTENT ENDS HERE-->

    <div class = "footer"></div>

    <script>
        $(document).ready(function(){
            $('.navigation').load('navbar.html');
            $('.footer').load('footer_page.html');
        });
    </script>

</body>
</html>